@{
    ViewData["Title"] = "Home";
}



<div class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="~/img/imgLogin/logo_preto.png" alt="imgBrq" width="320" height="220">
        <h1 class="h3 mb-3 font-weight-normal">Entre</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <br />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <br />
        <p>Registre-se<a href="https://localhost:5001/Home/Privacy"> Aqui</a></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-muted"> 2019-2020 ©BRQ Digital Solutions</p>
    </form>
</div>
